
#content_box{
    background-color: black;
    display: inline-block;
    grid-template-rows: 20px 20px 20px 20px 20px;
}
#sign_up_form input {
    border-radius: 5px;
    background: #f3f3f3;
    line-height: 30px;
    display: block;
    border: none;
    font-size: 16px;
    margin: 10px 0 15px 450px;
    padding: 10px;
}
#sign_up_form button {
    border-radius: 25px;
    line-height: 30px;
    display: block;
    border: none;
    font-size: 16px;
    margin: 10px 0 15px 565px;
    padding: 10px;
}
#message{
    display: block;
    border: none;

    margin: 10px 0 15px 460px;
    padding: 10px;
    font-size: 46px;
    font-family: Calibri;
    color: #6b6b6b;
}
