*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("../img/webSiteBG.jpg ") ;
    background-size: cover;

}
div{
    display: grid;
    grid-template-rows:auto 1fr ;
}

#content_box{
    background-color: rgba(246, 250, 255, 0.91);
    margin: 80px 100px 50px 100px;
    display: grid;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: 5px 1fr 5px;
    border-radius: 5px;
}

body.gamePage div#content_box{
    background-color: rgba(246, 250, 255, 0.91);
    margin: 80px 100px 50px 100px;
    display: grid;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: 5px 1fr 5px;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


#content{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 30px ;
    color: #ff0911;
}

.gameBox{
    background-color: rgba(246, 250, 255, 0.91);
    margin: 0 100px 50px 100px;
    display: grid;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: 5px 1fr 5px;
}

.gameFrame{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: 0;
}

#snakeGameFrame{
    width: 720px;
    height: 440px;
    border: 10px solid black;
}

#pongGameFrame{
     width: 505px;
     height: 390px;
    border: 10px solid black;
 }


