*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("img/webSiteBG.jpg ") ;
    background-size: cover;

}
div{
    display: grid;
    grid-template-rows:auto 1fr ;
}


#content_box{
    background-color: rgba(246, 250, 255, 0.91);
    margin: 80px 100px 50px 100px;
    display: grid;
    grid-template-columns: 5px 1fr 5px;
    grid-template-rows: 5px 1fr 5px;
    border-radius: 5px;

}

#thegame{
    border: 0px;
    background-color: black;
    width: 365px;
    height: 400px;
    margin: 0px 100px 50px 100px;
}
#theHgame{
    border: 0px;
    background-color: black;
    width: 365px;
    height: 450px;
    margin: 0px 100px 50px 100px;
}

#content{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 30px ;
    color: #ff0911;
}

